SMTP_HOST=poczta2651521.home.pl
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=info@fapomoto.pl
SMTP_PASS=UZUPELNIJ_W_PANELU_HOSTINGU
SMTP_FROM="FAPO Polska <info@fapomoto.pl>"
MAIL_TO=office@fapomoto.pl,piotr.modlinski@gmail.com
